@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>SSO Demostration with Amazon Cognito, Azure Active Directory and Google Accounts</p>
</div>
